* {box-sizing: border-box; position: relative;}

h1 {
  margin-bottom: 15px;
  margin-top: 150px;
  font-family: fantasy;
  font-size: 175%;
  font-style: oblique;
}

.header{ 
	position: relative;
	top: 0px;
	left: 50%;
	width: 50%;
	height: 60px;
	text-align: center;
	padding-top: 15px;
	font-family: sans-serif;
	font-size: 125%;
	border: 1px black solid;
}
.headercol1 {background-color: paleturquoise; }
.headercol2 {background-color: antiquewhite; }
.headercol3 {background-color: honeydew; }

p {
  width: 90%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  padding: 15px;
  font-family: Helvetica;
  color: white;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
}

/********** DESKTOP **********/
@media (min-width: 992px) {
  .col-lg-4{
    float: left;
    margin: 1%;   
    background-color: darkgray;
    border: 1px black solid;
  }
 
  .col-lg-4 {
    width: 30%;
  }
 
}

/********** Medium devices only - TABLETS **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12 {
    float: left;
    margin: 1%;
    border: 1px black solid;
        background-color: darkgray;

  }
  .col-md-6 {
    width: 48%;
  }
  .col-md-12{width: 98%;}
}
/********** MOBILE **********/
@media (max-width: 767px) {

  .col-mobile-12 {
    width: 90%;
    float: left;
    margin: 1%;
      background-color: darkgray;
      border: 1px black solid;

  }
}